<div class="example-container">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Título</mat-label>
                    <input matInput #input formControlName="title">
                </mat-form-field>
            </div>
    
            <div class="col-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Autor</mat-label>
                    <input matInput #input formControlName="author">
                </mat-form-field>
            </div>
    
            <div class="col-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Año</mat-label>
                    <input matInput #input formControlName="year">
                </mat-form-field>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Álbum</mat-label>
                    <input matInput #input formControlName="album">
                </mat-form-field>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Estilo</mat-label>
                    <input matInput #input formControlName="genre">
                </mat-form-field>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Discográfica</mat-label>
                    <input matInput #input formControlName="label">
                </mat-form-field>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>País</mat-label>
                    <input matInput #input formControlName="country">
                </mat-form-field>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Duración</mat-label>
                    <input matInput #input formControlName="duration">
                </mat-form-field>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Productor</mat-label>
                    <input matInput #input formControlName="producer">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
